body{
    background-color: aqua;
}
button{
    padding: 15px;
    flex: 2;
}
p{margin-top: 0px;
text-align: end;
margin: 0;}
.calculator{
    border:1px solid rgb(122, 120, 120);
    display: flex;
    width: 500px;
    height:500px;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
}

#opsAndNums{
    margin:0px;
    gap:11px;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(186, 186, 186);
    border: solid 1px black;
    flex: 2 1 auto;
    
}
.rows{
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
}

#dot,#c,#ce{
    font-size: 24px;
    padding: 8px;
}

#resultado{
    width:100%;
    height: 20%;
    
    border: 1px solid black;
    background-color: rgba(167, 162, 162, 0.677);
}

#result{
    width: 499px;
    height: 99px;
    flex-wrap: nowrap;
    padding: 0;
    font-size: 60px;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-family: 'digital-7',Times,serif;
    text-align: right;
}