body{
    background-color: aqua;
}
button{
    padding: 15px;
    flex: 2;
}
p{margin-top: 0px;
text-align: end;
margin: 0;}
/*Clases*/
.calculator{
    border:5px solid rgb(35, 35, 35);
    background-color: rgb(165, 69, 9);
    display: flex;
    width: 500px;
    height:500px;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
}
.operando{
    background-color: rgb(97, 43, 148);
    border:5px solid rgb(255, 144, 24);
}
.numeros{
    background-color: rgb(4, 99, 9);
    border:5px solid rgb(255, 144, 24);
}
.borradores{
    background-color: rgb(195, 39, 179);
    border:5px solid rgb(255, 144, 24);
}
/*Ids*/
#opsAndNums{
    margin:0px;
    gap:11px;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px;
    flex: 2 1 auto;
    
}
.rows{
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
}

#dot,#c,#ce{
    font-size: 24px;
    padding: 8px;
}

#resultado{
    width:95%;
    align-self: center;
    height: 20%;
    display: flex;
    margin-top: 10px;
    border: 2px solid black;
    background-color: rgb(70, 122, 33);
}

#result{
    width: 99%;
    height: 80%;
    flex-wrap: nowrap;
    padding: 0;
    font-size: 60px;
    margin: 0;
    align-self: flex-end;
    justify-self: center;
    font-family: 'digital-7',Times,serif;
    text-align: right;
}